body{
    background-color: rgba(220, 20, 60, 0.39);
}
header h1{
    padding: 60px;
    text-align: center;
    color: rgb(71, 0, 50);
    background-color: #ffffff67;
}
#headBio h1{
    text-size-adjust: 20px;
    padding: 20px;  
    text-align: left;
    color: rgb(33, 0, 94);
}
#bodyBio{
    background-color: rgba(20, 173, 220, 0.267);
    padding: 10px;
}
#education h1{
    text-size-adjust: 20px;
    padding: 20px;  
    text-align: left;
    color: rgb(33, 0, 94);
}
body img{
    float: right;
}
#experience h1{
    text-size-adjust: 20px;
    padding: 20px;  
    text-align: left;
    color: rgb(33, 0, 94);
}
footer{
    background-color: palegreen;
}